
.card{

	background-color: rgba(255, 255, 255, 0.75) !important;

}

#card1{

	
	line-height: 56px;

}


.site-header .header-badge{
	border: 12px #d9d2e3 solid !important;
}




.page-content .top p.description{

	font-family: monospace;
}



.btn, button, [type=submit]{
	font-family: monospace !important;
}


.page-content .top a.email {
font-family: one !important;
}

