<footer class="site-footer">

  <div class="wrapper">

    <span class="footer-heading" style="font-size:15px;"> &copy; Multihexa 2016<br><!-- DEBUT CODE compteur-gratuit.org -->
		<script type="text/javascript" src="http://counter3.01counter.com/private/countertab.js?c=4f9e5fa0b81075e83d5d78e4d8a111dd"></script>
<noscript><a href="http://www.compteurdevisite.com" title="compteur pour site web gratuit sans pub"><img src="http://counter3.01counter.com/private/compteurdevisite.php?c=4f9e5fa0b81075e83d5d78e4d8a111dd" border="0" title="compteur pour site web gratuit sans pub" alt="compteur pour site web gratuit sans pub"></a>
</noscript>
<!-- FIN CODE compteur-gratuit.org --></span>






    
  

  </div>


</footer>
